* {
	margin: 0;
	padding: 0;
}

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	width: calc(64px * 8);
	height: calc(64px * 8);
	display: flex;
	flex-wrap: wrap;
}
.cell {
	box-sizing: border-box;
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cell img {
	cursor: pointer;
	width: 48px;
	height: 48px;
	position: relative;
}

.black {
	background-color: #c48244;
}
.white {
	background-color: #f2c294;
}

.selected {
	border: 2px solid black;
}
.available {
	cursor: pointer;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: green;
}
.available_figure {
	background-color: green;
}

.lost {
	height: calc(50vh - 60px);
	padding: 30px;
	margin-left: 50px;
	background-color: lightgray;
}

.modal {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal form {
	background-color: #e7e7e7;
	border-radius: 40px;
	min-height: 300px;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 40px 0;
	justify-content: space-around;
	align-items: center;
}
