* {
	margin: 0;
	padding: 0;
}

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	width: calc(64px * 8);
	height: calc(64px * 8);
	display: flex;
	flex-wrap: wrap;
}
.cell {
	box-sizing: border-box;
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cell img {
	cursor: pointer;
	width: 48px;
	height: 48px;
	position: relative;
}

.black {
	background-color: #c48244;
}
.white {
	background-color: #f2c294;
}

.selected {
	border: 2px solid black;
}
.available {
	cursor: pointer;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: green;
}
.available_figure {
	background-color: green;
}
